body {
  width: 90%;
  margin: auto;
  background-color: burlywood;
}

Main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

footer {
  margin-top: 1rem;
}

img {
  width: 10rem;
}

.form-select {
  width: fit-content;
}

.btn {
  margin-top: .25rem;
  margin-bottom: .5rem;
}
