body {
  width: 90%;
  margin: auto;
  background-color: burlywood;
}

Main {
  display: flex;
  /* grid-template-columns: repeat(4, 5fr);
  grid-template-rows: repeat(4, 5fr); */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

footer {
  margin-top: 1rem;
}

img {
  width: 10rem;
}
